Pavel Saman <samanpavel@gmail.com> <pavelsam@centrum.cz>
Pavel Saman <samanpavel@gmail.com> Pavel Šaman <pavelsaman@users.noreply.github.com>
Pavel Saman <samanpavel@gmail.com> <pavel.saman@inveo.cz>
